<h3>Welcome {{name}}</h3>
{{> btn}}

{{#if projects}}
<table class="striped">
    <thead>
        <thead>
            <tr>
                <th>Title</th>
                <th>Date</th>
                <th>Delete</th>
            </tr>
        </thead>
    </thead>
    <tbody>
        {{#each projects}}
        <tr>
            <td><a href="/posts/{{_id}}">{{title}}</a></td>
            <td>{{createdAt}}</td>
            <td>
                <a href="/posts/edit/{{_id}}" class="btn blue">
                    <i class="fas fa-edit"></i>
                </a>
            </td>
            <td>
                <form action="/posts/{{_id}}" method="POST" id="delete-form">
                    <input type="hidden" name="_method" value="DELETE">
                    <button type="submit" class="btn red">
                        <i class="fas fa-trash-alt"></i>
                    </button>
                </form>
            </td>
        </tr>
        {{/each}}
    </tbody>
</table>
{{else}}
<p>No posts created</p>
{{/if}}